[Unit]
Description=Nanopore-Sync Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env python path/to/nanopore-sync.py --source /path/to/input --destination /path/to/output
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target